

.div_border{
    width: 600px;
    height: 600px;
    border-radius: 50%; 
    border: 10px solid hotpink;
    padding: 10px;
}

.div_subborder {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid none;
    /* margin: 10px; */
    background-image: url(/02_html/img/새싹.webp);
    background-size: cover;
    
}