.container {
    width: 500px;
    height: 500px;
    border : 1px solid black;
    position: relative;
}

.div1, .div2, .div3{
    width: 50px;
    height: 50px;
}

.div1 {
    text-align: center;
    position: relative;
    background-color: red;
    left: 50px;
    top: 30px;
    
}

.div2 {
    position: absolute;
    right: 30px;
    bottom: 100px;
    background-color: blue;
}

.div3 {
    position:fixed;
    right: 100px;
    top: 100px;
    background-color: violet;
}